django>=5.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
psycopg2-binary
python-dotenv
redis
celery
django-filter
drf-spectacular
django-celery-results
django-celery-beat
Pillow
stripe
requests
